venv/
__pycache__/
**/__pycache__/
*.pyc
.env
.ipynb_checkpoints/
.streamlit/secrets.toml

database/*.db
data/
dataset_temp/
real_dataset/
real_test/
reports/

models/*.keras
models/*.h5
!models/class_names.json
!models/*.tflite
